.brand__center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
}

.brand__center div {
  max-width: 150px;
  min-width: 150px;
  margin: 1rem;
}
